#scaling-grid-tetris {
  line-height: 0;
  border: 5px solid gray;
}

.tile {
  color: grey;
  background: #eaeaea;
  display:inline-block;
  border: 1px solid #fff;
  margin: -1px;
  padding: 0;
  line-height:30px;
  padding: 0px;
  font-size: 8px;
}

.tile.shape-shade {
  background: black;
}

.tile.plat-shade {
  background: #666;
}

.tile.plat-remove {
  background: red;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  opacity: 0;
}

.game-over {
  border-color: red !important;
}

body {
    text-align: center;
}

div#controls {
    margin-top: 2rem;
}

div#up {
    display: inline-block;
    border: 1.5rem solid transparent;
    border-bottom: 2rem solid grey;
    border-top: 0px;
}

div#left {
    clear:both;
    display: inline-block;
    border: 1.5rem solid transparent;
    border-right: 2rem solid grey;
    border-left: 0rem;
    margin-right: 3rem;
}

div#right {
    clear:both;
    display: inline-block;
    border: 1.5rem solid transparent;
    border-left: 2rem solid grey;
    border-right: 0rem;
}

div#down {
    clear:both;
    display: inline-block;
    border: 1.5rem solid transparent;
    border-top: 2rem solid grey;
    border-bottom: 0rem;
}